.modal-bg-overlay {
  background: #041826;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  opacity: 0.2;
  right: 0;
}
.modal-container {
  animation-timing-function: ease;
  animation-duration: 300ms;
  position: fixed;
  left: 0;
  right: 0;
  top: 50%;
  background-color: white;
  padding: 0;
  margin: auto;

  border-radius: 8px;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
  z-index: 9999;
  transform: translateY(-50%);
  //   &.top-center {
  //
  //   }
  .modal-content {
    border: 0px !important;
    height: auto;
    padding: 0 12px;
  }
}

.normal {
  max-width: 700px;
}
.confirm {
  max-width: 500px;
}
