<form [formGroup]="formcreate">
  <div class="row" style="margin-top: 10px">
    <div class="col-12 col-md-6" style="margin-bottom: 8px">
      <div class="input-form">
        <span
          class="text-14px"
          [ngClass]="
            formcreate.controls.name.touched &&
            formcreate.controls.name.errors?.required
              ? 'error'
              : ''
          "
          >Tên phân loại <span class="error">*</span></span
        >
        <input
          type="text"
          placeholder="Nhập tên phân loại"
          class="form-control"
          formControlName="name"
        />
        <span
          *ngIf="
            formcreate.controls.name.touched &&
            formcreate.controls.name.errors?.required
          "
          class="text-12px"
          [ngClass]="
            formcreate.controls.name.touched &&
            formcreate.controls.name.errors?.required
              ? 'error'
              : ''
          "
          >Vui lòng nhập tên phân loại
        </span>
      </div>
    </div>
    <div class="col -12 col-md-6" style="margin-bottom: 8px">
      <div class="input-form">
        <span
          class="text-14px"
          [ngClass]="
            formcreate.controls.code.touched &&
            formcreate.controls.code.errors?.required
              ? 'error'
              : ''
          "
          >Mã phân loại <span class="error">*</span></span
        >
        <input
          type="text"
          placeholder="Nhập mã phân loại"
          class="form-control"
          formControlName="code"
        />
        <span
          *ngIf="
            formcreate.controls.code.touched &&
            formcreate.controls.code.errors?.required
          "
          class="text-12px"
          [ngClass]="
            formcreate.controls.code.touched &&
            formcreate.controls.code.errors?.required
              ? 'error'
              : ''
          "
          >Vui lòng nhập mã phân loại
        </span>
      </div>
    </div>
    <div class="col-12">
      <div class="input-form">
        <span class="text-14px">Mô tả</span>
        <textarea
          rows="5"
          type="text"
          class="form-control"
          placeholder="Nhập mô tả"
          formControlName="descriptions"
        ></textarea>
        <!-- <span> erorr</span> -->
      </div>
    </div>
  </div>
  <div class="row">
    <div
      class="col-12"
      style="
        display: flex;
        gap: 8px;
        margin: 10px 0;
        flex-direction: row-reverse;
      "
    >
      <button
        type="button"
        class="btn btn-option"
        [disabled]="!formcreate.valid"
        (click)="optionCategory()"
      >
        {{ optionButton }}
      </button>
      <button type="button" class="btn btn-cancel" (click)="edmitModal(null)">
        Hủy
      </button>
    </div>
  </div>
</form>
