<div class="fluid-container" style="background-color: black; margin-top: 20px">
  <div class="container" style="padding-top: 20px; padding-bottom: 20px">
    <div class="row">
      <div class="col-md-8 row" style="gap: 12px">
        <div class="col-12 col-md-6 col-lg-4 row" style="color: white">
          <div class="col-12 text-16px">FIND A STORE</div>
          <div class="col-12 text-16px">BECOME A MEMBER</div>
          <div class="col-12 text-16px">SIGN UP FOR EMAIL</div>
          <div class="col-12 text-16px">SEND US FEEDBACK</div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 row">
          <div class="col-12 text-16px" style="color: white">GET HELP</div>
          <div class="col-12 text-12px" style="color: gray">Order Status</div>
          <div class="col-12 text-12px" style="color: gray">Delivery</div>
          <div class="col-12 text-12px" style="color: gray">Returns</div>
          <div class="col-12 text-12px" style="color: gray">
            Payment Options
          </div>
          <div class="col-12 text-12px" style="color: gray">Contact Us</div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 row">
          <div class="col-12 text-16px" style="color: white">ABOUT NIKE</div>
          <div class="col-12 text-12px" style="color: gray">News</div>
          <div class="col-12 text-12px" style="color: gray">Careers</div>
          <div class="col-12 text-12px" style="color: gray">Investors</div>
          <div class="col-12 text-12px" style="color: gray">Sustainability</div>
        </div>
      </div>
      <div class="col-md-4">1</div>
    </div>
  </div>
</div>
