button::ng-deep {
  box-shadow: none;
  border: none;
  background-color: #ff96ad;
  border-color: #ff96ad;
  border-radius: 50%;
  color: white;
}

.btn-pag {
  justify-content: center;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}
