/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: #fafafa;
}

.text-20px {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}
.text-14px {
  font-family: "Times New Roman", Times, serif;
  font-size: 14px;
}
.text-16px {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
.text-12px {
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}
.contain {
  padding-left: 80px;
  padding-right: 80px;
  max-height: 1333px;
}
@media only screen and (max-width: 768px) {
  .contain {
    padding-left: 10px;
    padding-right: 10px;
  }
}
