.button {
  width: 100px;
  height: 50px;
  border: 2px solid #dddddd;
  border-radius: 4px;
  background-color: white;
  &:hover {
    border: 2px solid #f5abc9;
  }
  &:focus {
    border: 2px solid #f5abc9;
  }
}

.btn-cart {
  border-radius: 50px;
  height: 60px;
}
.add-cart {
  background-color: black;
  border: 1px solid black;
  color: white;
  &:hover {
    opacity: 0.8;
  }
}
.add-favorite {
  background-color: white;
  border: 1px solid #dddddd;
  &:hover {
    border: 2px solid #dddddd;
  }
}

.card-item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}
.card-info {
  display: flex;
  flex-direction: column;
}
.card-info-hover {
  display: none;
}

.hover {
  &:hover {
    .card-info {
      display: none;
    }
    .card-info-hover {
      display: flex;

      flex-direction: column;
    }
  }
}
